*{
    padding: 0px;
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
}

a{
    display: block;
    background-color: rgb(173, 14, 14);
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    font-weight: bolder;

}